/* .history_affair{
    border: 2px solid gray;
    border-radius: 40%;
    overflow: hidden;
       background-color: red; 
    
}
.gallery_footer{
    border: 2px solid gray;
    border-radius: 40%;
    overflow: hidden;
    background-color: #fff;
   
} */
/* .foo_info{
    background-color: linear-gradient(8deg, #B6DBFC 12.51%, rgba(177, 212, 242, 0.00) 91.24%);;
} */