.h_1 {
    color: #163561;
    font-size: 7.5rem;
    font-weight: 700;
    line-height: 133.6%;
}
span{
    color: yellow;
}
.h_2 {
    color: #163561;
    font-size: 7rem;
    font-weight: 700;
    line-height: 133.6%;
}