.Footer_info{
  
    text-align: center;
    margin-top: 17rem;
    margin-bottom: 9.8rem;
    border-bottom: 3px solid #99BAED;
    
}
.Footer_info>img{
         width: 21.3rem;
}
.imgs>img{
    border-radius: 50%;
    background-color: #D3E5FF;
    width: 6.7rem ;
    height: 6.7rem;
    margin-top: 5rem;
    padding: 1rem;
    margin-bottom: 5rem;
}
.imgs{
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
   
}
.imgs>img:hover{
    background-color: #99BAED;
}